.types__bike-fix-container {
  background-color: #F4F4F4;
  border-radius: 20px;
  width: auto;
  height: auto;
  box-shadow: -20px 60px 220px rgb(0 0 0 / 20%);
  position: -webkit-sticky;
  position: sticky;
  top: 54px;
  margin: 327px auto 79px 0;
  display: inline-block;
}
